/* * {
    all: unset;
    transition: background-color .3s;
} */

.bar *,
scale,
scale *,
button {
    all: unset;
    transition: background-color .3s;
}

window {
    background: none;
    font-size: 16px;
}

.bar-content {
    margin: 8px 8px 4px 8px;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: alpha(@theme_bg_color, 0.7);
}

button {
    color: @theme_fg_color;
    min-width: 24px;
    border-radius: 100px;
}

button:hover {
    background-color: alpha(@theme_fg_color, 0.2);
}

/* menu {
    background-color: @theme_bg_color;
    border-radius: 12px;
    padding: 12px;
}

menuitem {
    padding: 4px 12px;
    border-radius: 12px;
}

menuitem:hover {
    background-color: alpha(@theme_fg_color, 0.2);
}

radio {
    margin-right: 8px;
    min-width: 14px;
    min-height: 14px;
    border-radius: 100px;
    border: 1px solid alpha(@theme_fg_color, 0.5);
}

radio:checked {
    min-width: 10px;
    min-height: 10px;
    background-color: @theme_fg_color;
    border: 4px solid @theme_selected_bg_color;
} */

.panel-button {
    color: @theme_fg_color;
    border-radius: 100px;
    padding: 0 8px;
}

.panel-button.active {
    background-color: @theme_selected_bg_color;
}

trough {
    background-color: alpha(@theme_fg_color, 0.2);
    min-height: 20px;
    border-radius: 12px;
}

trough highlight,
trough progress {
    background-color: @theme_selected_bg_color;
    border-radius: 12px;
}

trough slider {
    min-height: 20px;
    min-width: 1px;
}

.os,
.workspace {
    min-width: 24px;
    margin: 0 2px;
    padding: 0 1px 2px 1px;
    border-radius: 100px;
    font-weight: bold;
}

.workspace {
    color: alpha(@theme_fg_color, 0.5);
}

.workspace.active {
    background-color: @theme_selected_bg_color;
}

.workspace.occupied {
    color: @theme_fg_color;
}

.tray-item {
    padding: 0 4px;
    min-width: 24px;
    border-radius: 100px;
}

.clock {
    font-size: 1.1em;
    /* font-weight: bold; */
}

.popup-content {
    padding: 16px 16px;
    border-radius: 12px;
    background-color: alpha(@theme_bg_color, 0.5);
    font-size: 0.9em;
}

.window-title {
    font-size: 1.2em;
    font-weight: bold;
}

.section-title {
    font-weight: bold;
}

.volume-slider-indicator {
    padding: 8px 4px;
    margin: 0;
}

.sink-item {
    min-height: 32px;
    padding: 2px 4px;
    margin: 4px 0;
    border-radius: 12px;
    font-weight: normal;
}

.sink-item:first-child {
    margin-top: 0;
}

.active-label {
    background-color: transparent;
    min-width: 5px;
    transition: none;
}

.active .active-label {
    background-color: @theme_selected_bg_color;
    min-width: 5px;

    border-radius: 32px 0 0 32px;
}

.sink-description {
    margin-left: 8px;
}

.sink-selector .active {
    background-color: alpha(@theme_fg_color, 0.2);
}

/* .sound {
    transition: none;
    margin: 8px 8px 4px 8px;
    padding: 2px 16px;
    border-radius: 12px;
    background-color: alpha(@theme_bg_color, 0.7);
} */
