{{ $osid := .chezmoi.os }}
{{ if hasKey .chezmoi.osRelease "idLike" }}
{{   $osid = .chezmoi.osRelease.idLike }}
{{ else if hasKey .chezmoi.osRelease "id" }}
{{   $osid = .chezmoi.osRelease.id }}
{{ end }}

{{ $desktop := false }}
{{ if eq $osid "arch" }}
{{   $desktop = promptBool "Do you want to install desktop-related packages" false }}
{{ end }}

[edit]
    command = "code"
    args = ["--wait"]

[data]
    osid = {{ $osid | quote }}
    desktop = {{ $desktop }}
