#!/bin/sh

{{ if eq .chezmoi.os "linux" }}

# Arch Linux
{{ $distro_base := (execute ) }}
{{   if eq .chezmoi.osRelease.idLike "arch" }}

sudo pacman -Syu --noconfirm
sudo pacman -S --needed --noconfirm \
    curl \
    git \
    sheldon \
    starship \
    zsh

# Debian
{{   else if eq .chezmoi.osRelease.idLike "debian" }}

sudo apt-get update
sudo apt-get install -y --no-install-recommends \
    curl \
    git \
    zsh

# sheldon
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
    | sh -s -- --repo rossmacarthur/sheldon --to ~/.local/bin

# starship
curl -sS https://starship.rs/install.sh | sh

{{   end }}
{{ end }}
